version: "{build}"

image: Visual Studio 2017

configuration:
  - release

environment:
  matrix:
    - PYTHON: "C:\\Python36-x64"

build_script:
  - git clone https://github.com/PaddlePaddle/VisualDL.git
  - cd VisualDL
  - git checkout develop
  - set "PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - set "LIB=%PYTHON%\\libs;%LIB%"
  - "%PYTHON%\\python.exe -m pip install wheel"
  - "%PYTHON%\\python.exe -m pip install -r requirements.txt"
  - "%PYTHON%\\python.exe setup.py bdist_wheel"
artifacts:
  - path: 'VisualDL\dist\*.whl'
