version: "{build}"

image: Visual Studio 2017

configuration:
  - release

environment:
  - PYTHON: "C:\\Python36-x64"

build_script:
  - git clone https://github.com/PaddlePaddle/VisualDL.git
  - cd VisualDL
  - git checkout develop
  - %PYTHON%\pip.exe install wheel
  - %PYTHON%\pip.exe install -r requirements.txt
  - %PYTHON%\python.exe setup.py bdist_wheel
artifacts:
  - path: 'VisualDL\dist\*.whl'
