version: "{build}"

image: Visual Studio 2017

configuration:
  - release

environment:
  matrix:
    - PYTHON: "C:\\Python35-x64"
    - PYTHON: "C:\\Python36-x64"
    - PYTHON: "C:\\Python37-x64"

build_script:
  - build.bat

artifacts:
  - path: 'VisualDL\dist\*.whl'
